{% extends "../base-layout.html" %}



{% block content %}


<table cellpadding=1 cellspacing=0 width={{ tablewidth }} align=center>
    <tr>
        <td height=22><span id=LeoBBSgg style=display:none></span></td>
    </tr>
    <tr>
        <td align=center width=1></td>
        <td width=435 valign=bottom>
            {{ newthreadbutton(forum.ID) }}
            {{ new_post_button(forum.ID, topic.ID) }}
            {{ newpollbutton }}{{ newpaybutton }}
        </td>
        <td align=right valign=bottom width=* nowarp><font color={{ forumfontcolor }}>{{ threadviewstemp }}　 <a
                        href=gettopicno.cgi?forum={{ in_forum }}&topic={{ topicid }}&show={{ inshow }}&act=pre><img
                            src={{ imagesurl }}/images/prethread.gif border=0 alt=浏览上一篇主题 width=52 height=12></a>&nbsp;　<a
                        href="javascript:this.location.reload()"><img src={{ imagesurl }}/images/refresh.gif border=0
                                                                      alt=刷新本主题 width=40 height=12></a> {{ viewstyle }}　<a
                        href=gettopicno.cgi?forum={{ in_forum }}&topic={{ topicid }}&show={{ inshow }}&act=next><img
                            src={{ imagesurl }}/images/nextthread.gif border=0 alt=浏览下一篇主题 width=52 height=12></a></td>
        <td align=center width=2></td>
    </tr>
</table>
<SCRIPT>valigntop()</SCRIPT>
<table cellspacing=0 cellpadding=0 width={{ tablewidth }} bgcolor={{ tablebordercolor }} align=center>
    <tr>
        <td height=1></td>
    </tr>
</table>
<table cellpadding=0 cellspacing=0 width={{ tablewidth }} align=center>
    <tr>
        <td bgcolor={{ tablebordercolor }} width=1 height=24><img src={{ imagesurl }}/images/none.gif width=1></td>
        <td bgcolor={{ titlecolor }} colspan=2 {{ catbackpic }}>
            <table cellpadding=0 cellspacing=1 width=100%>
                <tr>
                    <td><span color={{ titlefontcolor }}>&nbsp;<b>* 贴子主题</B>： {{ topic.Title }}
                    {% if topic.AuthorUid == luUid %}
                        <a href="/mp/editTopic?tid={{ topic.ID }}">编辑主题</a>
                        {% endif %}
                    </span></td>
                    <td align=right><a
                                href={{ thisprog }}?forum={{ in_forum }}&topic={{ in_topic }}&start={{ instart }}&max=yes&show={{ inshow }}><img
                                    src={{ imagesurl }}/images/showall.gif border=0 width=14
                                    alt=不分页显示此帖></a>&nbsp;{{ reporticon }}{{ favicon }}{{ printpageicon }}{{ pagpageicon }}{{ bookmarkpage }}{{ sendtofriendicon }}
                        {{ fontsizeselect }}&nbsp;

                        <a href="?page={{ prevPage }}">上一页</a> | <a href="?page={{ nextPage }}">下一页</a>
                    </td>
                </tr>
            </table>
        </td>
        <td bgcolor={{ tablebordercolor }} width=1 height=24></td>
    </tr>
</table>
<table cellspacing=0 cellpadding=0 width={{ tablewidth }} bgcolor={{ tablebordercolor }} align=center>
    <tr>
        <td height=1></td>
    </tr>
</table>

{% for post  in postList %}
<table cellpadding=1 cellspacing=0 width={{ tablewidth }} align=center>
    <tr>
        <td>

            <table width=95% cellpadding=0 cellspacing=8 bgcolor={{ postbackcolor }}>
                <tr>
                    <td valign=top width=168 rowspan=5>
                        <table style="filter:glow(color={{ glowing }}{{ membername }},direction=135)">&nbsp;<font
                                    color={{ posterfontcolor }}{{ membername }}><b>{{ membername }}{{ membername }}
                                    &nbsp;</b></table>
                        <font color={{ postfontcolortwo }}>{{ membertitle }}{{ membername }}
                            {{ showawards }}{{ membername }}
                            <font color={{ postfontcolorone }}>{{ jhmp }}{{ membername }}
                                {{ useravatar }}{{ membername }}
                                <br><a href=lookinfo.cgi?action=style target=_blank
                                       title="{{ mtitle }}{{ membername }}">{{ membergraphic }}{{ membername }}</a>
                                <br><font color={{ postfontcolorone }}>等级: <a href=lookinfo.cgi?action=style
                                                                              target=_blank
                                                                              title="查看级别信息"><font
                                                color={{ fonthighlight }}>{{ mtitle }}{{ membername }}</a>
                                    <BR><font
                                            color={{ postfontcolortwo }}>信息: {{ online }} {{ membernameimg }}{{ membername }}
                                        {{ seximages }}{{ membername }} {{ showsx }}{{ membername }} {{ showxz }}{{ membername }}
                                        <br><font color={{ fonthighlight }}>威望: {{ rating }}{{ membername }}
                                            　积分: {{ jifen }}{{ membername }}{{ rateuser }}
                                            <br><font color={{ postfontcolortwo }}>现金: {{ mymoney }}{{ membername }}
                                                <br><font color={{ postfontcolorone }}>存款: {{ mysaves }}{{ membername }}
                                                    <br><font
                                                            color={{ postfontcolortwo }}>贷款: {{ myloan }}{{ membername }}
                                                        <br><font color={{ postfontcolorone }}>来自:
                                                            {{ location }}{{ membername }}{{ userflag }}{{ membername }}
                                                            <br><font color={{ postfontcolortwo }}>发帖:
                                                                <b>{{ numberofposts }}{{ membername }}</b>
                                                                篇
                                                                <br><font color={{ postfontcolorone }}>精华: <b><font
                                                                                color={{ fonthighlight }}>{{ jhcount }}{{ membername }}</font></b>
                                                                    篇
                                                                    <br>
                                                                    <font color={{ postfontcolortwo }}>博彩:
                                                                        {{ soccerinfo }}{{ membername }}
                                                                        <font color={{ postfontcolorone }}>资料:
                                                                            {{ emailgraphic }}
                                                                            {{ membername }}{{ homepagegraphic }}{{ membername }}{{ oicqgraphic }}{{ membername }}{{ icqgraphic }}{{ membername }}

                                                                            <br><font
                                                                                    color={{ postfontcolortwo }}>在线: {{ onlinetime }}
                                                                                <br><font color={{ postfontcolorone }}>注册:
                                                                                    {{ joineddate }}{{ membername }}
                                                                                    <br><font
                                                                                            color={{ postfontcolortwo }}>造访:
                                                                                        {{ lastgone }}{{ membername }}
                                                                                        <br>
                    </td>
                    <td width=1 height=100% rowspan=5 bgcolor={{ titlecolor }}></td>
                    <td valign=top width=600>
                        {{ pvmsggraphic }}{{ membername }}{{ profilegraphic }}{{ membername }}{{ searchgraphic }}{{ membername }}{{ friendgraphic }}{{ membername }}{{ copygfx }}{{ replygraphic }}{{ replynow }}{{ postmanbuttom }}{{ chgposticon }}
                    </td>
                    <td align=right>{{ louceng }}</td>
                </tr>
                <tr>
                    <td colspan=2 height=1 bgcolor={{ tablebordercolor }}></td>
                </tr>
                <tr>
                    <td colspan=2 valign=top>
                        <table cellspacing=0 cellpadding=0 width=100% style=TABLE-LAYOUT:fixed
                               height={{ vheight }}{{ membername }}>
                            <tr>
                                <td width=32 valign=top>{{ posticon }}&nbsp;</td>
                                <td style="WORD-WRAP:break-word;{{ paraspace }};{{ wordspace }}pt"
                                    valign=top>{{ topicsthad }}<span
                                            id=post{{ editpostnumber }} style=color:{{ postfontcolor }};font-size:${postfontsize}px>{{ addme }}{{ post.Content|safe }}</span><BR>
                                </td>
                            </tr>
                            <tr>
                                <td colspan=2 height=22 valign=bottom>{{ addads }}<BR></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan=2 height=1 bgcolor={{ tablebordercolor }}></td>
                </tr>
                <tr>
                    <td><font color={{ postfontcolor }}>{{ editgraphic }}{{ pbgraphic }}{{ delgraphic }}<img
                                    src={{ imagesurl }}/images/posttime.gif width=16
                                    alt=发贴时间 align=absmiddle>{{ postdate }}　<img
                                    src={{ imagesurl }}/images/ip.gif width=13 alt="{{ fromproxy }}"
                                    align=absmiddle>IP: {{ postipaddress }}</td>
                    <td align=right valign=bottom width=20%>[本文共{{ postsize }}字节]　<a href=#top><img
                                    src={{ imagesurl }}/images/p_up.gif
                                    height=17 border=0 align=absmiddle
                                    title=返回顶端></a>&nbsp;
                    </td>
                </tr>
            </table>
        </td>
        <td bgcolor={{ tablebordercolor }} width=1></td>
    </tr>
</table>
<table cellspacing=0 cellpadding=0 width={{ tablewidth }} bgcolor={{ tablebordercolor }} align=center>
    <tr>
        <td height=1></td>
    </tr>
</table>

{% endfor %}

<table cellspacing=0 cellpadding=0 width={{ tablewidth }} align=right>
    <tr>
        <td>&nbsp;<a href=#top><img src={{ imagesurl }}/images/gotop.gif width=15 border=0 align=absmiddle>顶端</a>　<a
                    href=fav.cgi?action=add&forum={{ in_forum }}&topic={{ in_topic }}><img
                        src={{ imagesurl }}/images/addfavorite.gif height=15 border=0 align=absmiddle>加到"个人收藏夹"</a></td>

        <td>

            <a href="?page={{ prevPage }}">上一页</a> | <a href="?page={{ nextPage }}">下一页</a>
        </td>

    </tr>
</table>

{% endblock %}