{{ lu_username}}：<a href=loginout.cgi?forum={{ in_forum }}>重登录</a> <img src={{ imagesurl }}/images/fg.gif width=1> <span
        style=cursor:hand onMouseover="showmenu(event,linkset[1])" onMouseout="delayhidemenu()">控制面板</span> <img
        src={{ imagesurl }}/images/fg.gif width=1> <a href=search.cgi?forum={{ in_forum }} title=按关键字、作者来搜寻论坛内的帖子>搜索</a> <img
        src={{ imagesurl }}/images/fg.gif width=1> <a href=whosonline.cgi title=看看有谁在线……>在线</a> <img
        src={{ imagesurl }}/images/fg.gif width=1> <span style=cursor:hand onMouseover="showmenu(event,linkset[0])"
                                                    onMouseout="delayhidemenu()">论坛设施</span> {{ skinselect }}<img
        src={{ imagesurl }}/images/fg.gif width=1> <span style=cursor:hand
                                                    onClick="javascript:openScript('help.cgi',500,400)"
                                                    title=常见问题的解答>帮助</span> <img src={{ imagesurl }}/images/fg.gif width=1>
<a href="/account/logout" title=在公众的地方上网记得要按退出哦><font color={{ fonthighlight }}>退出</font></a>&nbsp