
{% macro newthreadbutton(forumId) %}
<a href="/mp/newTopic?fid={{ forumId }}"><img src="{{ imagesurl }}/images/{{ skin }}/newthread.gif" border="0" alt="发表一个新主题"></a>　
{% endmacro %}


{% macro new_post_button(forumId, topicId) %}
<a href="/mp/newPost?fid={{ forumId }}&tid={{ topicId }}"><img src="{{ imagesurl }}/images/{{ skin }}/newreply.gif" border="0" alt="发表回复"></a>　
{% endmacro %}


<html>
<head>
    <title>{{ page_title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="keywords" content="雷傲,论坛,cgi,leobbs,leoboard,LB5000,bbs,leo,perl,lb,lbplus">
    {{ coolmeta }}
    <script SRC="{{ imagesurl }}/board.js"></SCRIPT>
    {{ coolclick }}

    {% block meta_resource %} {% endblock %}
    <!--end Java-->

    <!--css info(editable)-->
    <style>
        A:visited{TEXT-DECORATION: none}
        A:active{TEXT-DECORATION: none}
        A:hover{TEXT-DECORATION: underline overline}
        A:link{text-decoration: none;}
        .t{LINE-HEIGHT: 1.4}
        BODY{FONT-FAMILY: 宋体; FONT-SIZE: 9pt;}
        caption,TD,DIV,form ,OPTION,P,TD,BR{FONT-FAMILY: 宋体; FONT-SIZE: 9pt}
        INPUT{FONT-SIZE: 9pt;}
        textarea, select {border-width: 1; border-color: #000000; background-color: #efefef; font-family: 宋体; font-size: 9pt; font-style: bold;}
    </style>
    <!--end css info-->

    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?73258af02049f461ac06ca5f9d9b1f55";
            hm.async = true;
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body>


<SCRIPT>
    <!--
    function valigntop(){}
    function valignend(){}
    -->
</SCRIPT>
<div id="popmenu" class="menuskin" onMouseover="clearhidemenu();highlightmenu(event,'on')" onMouseout="highlightmenu(event,'off');dynamichide(event)"></div>





<table width="95%" border="0" cellspacing="0" cellpadding="0" align="center">
    <tr>
        <td width="131"><a href="/"><img src="{{ imagesurl }}/images/macos/toplogo.jpg"></a></td>
        <td background="{{ imagesurl }}/images/macos/toplogobg.jpg" width="100%"></td>
        <td width="131"><img src="{{ imagesurl }}/images/macos/toplogo2.jpg"></td>
    </tr>
</table>
<table width="95%" border="0" cellspacing="0" cellpadding="0" align="center">
    <tr>
        <td width="131"><img src="{{ imagesurl }}/images/macos/1.gif"></td>
        <td background="{{ imagesurl }}/images/macos/2.gif" width="100%"></td>
        <td width="131"><img src="{{ imagesurl }}/images/macos/3.gif"></td>
    </tr>
</table>
<table width="{{ tablewidth }}" align="center" cellspacing="0" cellpadding="1" bgcolor="{{ titleborder }}">
    <tr>
        <td>
            <table width="100%" cellspacing="0" cellpadding="3">
                <tr>
                    <td  style="background-image:url({{ menubackpic }})">
                        <font color="{{ menufontcolor }}">>></font>
                            {% if lu_username && lu_username != "" %}

                            {% if isAdmin && isAdmin == true %}
                        <a href="/admin/">管理员</a>：
                            {% endif %}
                            欢迎您，


                            {% include "account/loggedinas.html" %}
                            {{ loggedinas }}

                            {{ myskins }}

                            {% else %}
                            <a href="/account/login">登录</a>

                            {% endif %}
                    </td>
                    <td bgcolor="{{ menubackground }}" align="right" {{ menubackpic }}>{{ sann }}<a
                                href="{{ homeurl }}" target=_blank><img
                                    src="{{ imagesurl }}/images/gohome.gif" height=16 border=0></a>&nbsp;
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
{{ newmail }}




<table cellpadding="1" cellspacing="0" width="{{ tablewidth }}" align="center">
    <tr>
        <td align="center" width="2"></td>
        <td align="center" width="34">{{ announcetemp1 }}</td>
        <td width="*" align="left"><span color="{{ forumfontcolor }}">{{ announcedisp }}</span></td>
        <td width="140">&nbsp;</td>
        {{ rsshtml }}
        <td width="64" align="right">
            <a href="/team" target=_blank><img src="{{ imagesurl }}/images/{{ skin }}/team.gif"
                                               border="0" alt="显示管理团队" align="absmiddle"></a></td>
        <td width="64" align="right">
            <a href="memberlist.cgi?a=4" target="_blank"><img
                        src="{{ imagesurl }}/images/{{ skin }}/userlist.gif" border="0" alt=显示用户列表
                        align="absmiddle"></a></td>
        <td width="64" align="right">
            <a href="memberlist.cgi?a=1" target="_blank"><img
                        src="{{ imagesurl }}/images/{{ skin }}/top.gif" border="0" alt="显示发帖量排名" align="absmiddle"></a>
        </td>
    </tr>
</table>





{% block content %}{% endblock %}



{{ lbboard_main }}

{% include "common/copyright.html" %}
<!-- $lbboard_main 相当于 几个参数加起来 $onlinepopup$$output\n\n$copyright -->
<!-- 版权信息等 -->
</body>
</html>