{% extends "base-layout.html" %}

{% block content %}


<img src="{{ imagesurl }}/images/none.gif" height="2"><br>
<script>valigntop()</script>

<table cellpadding="6" cellspacing="0" width="{{ tablewidth }}" height="28" align="center"
       bordercolor="{{ tablebordercolor }}" border="1">

    <script>valignend()</script>
    <BR>
    <img src="{{ imagesurl }}/images/none.gif" height="5"><br>
    <script type="text/javascript">
        function surfto(list) {
            var myindex1 = list.selectedIndex;
            var newwindow = list.options[myindex1].value;
            if (newwindow != "") {
                var msgwindow = window.open("profile.cgi?action=show&member=" + newwindow, "", "");
            }
        }
    </script>

    <style>
        .menuskin {
            position: absolute;
            background-color: {{ menubackground }};
            border: 1px solid{{ titleborder }};
            line-height: 20px;
            z-index: 100;
            visibility: hidden;
        }

        #mouseoverstyle {
            BACKGROUND-COLOR: #C9D5E7;
            margin: 1px;
        }

        #mouseoverstyle a {
            color: white;
        }

        .menuitems {
            margin: 1px;
            padding: 1px;
            word-break: keep-all;
        }
    </style>
    <script>
        //linkset[1] = "
    </script>


    <TABLE cellspacing="0" cellpadding="0" width="{{ tablewidth }}" align="center">
        <tr>
            <TD width="30%" rowSpan=3>{{ forumgraphicoutput }}</TD>
            <TD valign="bottom" align="right">{{ adscript }}</TD>
        </TR>
    </TABLE>

    {% if forum.description %}
    <BR>
    <table width="{{ tablewidth }}" align="center" cellspacing="0" cellpadding="0">
        <tr>
            <td>>>> {{ forumdescription }}</td>
        </tr>
    </table>
    {% endif %}


    <style>
        TABLE {
            BORDER-TOP: 0px;
            BORDER-LEFT: 0px;
            BORDER: 1px;
        }

        TD {
            BORDER-RIGHT: 0px;
            BORDER-TOP: 0px;
            color: #333333;
        }
    </style>


    {% if forum %}
    <table cellpadding="6" cellspacing="0" width="{{ tablewidth }}" height=24 align="center"
           bordercolor="{{ tablebordercolor }}" border=1>
        <tr>
            <td bgcolor="{{ forumcolorone }}" align="center" width="26">{{ folderpicture }}</td>
            <td bgcolor="{{ forumcolortwo }}" valign="top" width="*">
                <table width="100%" cellpadding="1">
                    <tr>
                        <td width="1%">{{ forum.team }}</td>
                        <td width="12"></td>
                        <td width="*">

                            <a href="/forum-{{ forum.ID }}.html">{{ forum.ForumName }}</a>
                            <p>{{ forum.ForumDesc }}</p>

                        </td>
                        <td bgcolor="{{ forumcolorone }}" align="center" width="90">
                            <span color="{{ forumfontcolor }}">{{ modout }}</span>{% if forum.ID %} [{{ forum.ID }}] {%  endif %}
                        </td>
                        <td bgcolor="{{ forumcolortwo }}" width="97">
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td align="left"><span color="{{ fontcolormisc2 }}">&nbsp;今日：</span></td>
                                    <td align="right">{{ forum.TodayPostNum }}&nbsp;</td>
                                </tr>
                                <tr>
                                    <td align="left"><span color="{{ fontcolormisc2 }}">&nbsp;主题：</span></td>
                                    <td align="right">{{ forum.ThreadsNum }}&nbsp;</td>
                                </tr>
                                <tr>
                                    <td align="left"><span color="{{ fontcolormisc2 }}">&nbsp;回复：</span></td>
                                    <td align="right">{{ forum.PostsNum }}&nbsp;</td>
                                </tr>
                            </table>
                        </td>
                        <td bgcolor="{{ forumcolorone }}" width="168">
                            <span color="{{ lastpostfontcolor }}">{{ forum.LastTopicTitle }}{{ forum.LastPoster }}{{ forum.LastPostTime }}</span>
                        </td>
                        <td bgcolor="{{ forumcolortwo }}" align="center" width="26">{{ forum.forumbookmark }}</td>
                    </tr>
                </table>


            </td>
        </tr>
    </table>


    {% endif %}
    <img src="/assets/images/none.gif" height="5" alt="">
    <script>valigntop()</script>

    <table cellpadding=0 cellspacing=0 width={{ tablewidth }} height=27 bordercolor={{ tablebordercolor }} border=1
           align=center>
        <tr>
            <td bgcolor={{ titlecolor }} {{ catbackpic }} width=30 align=center><font
                        color={{ titlefontcolor }}><b>状态</b></td>
            <td bgcolor={{ titlecolor }} {{ catbackpic }} width=* align=center><font
                        color={{ titlefontcolor }}><b>主　题</b> </td>
            <td bgcolor={{ titlecolor }} {{ catbackpic }} align=center width=78><font color={{ titlefontcolor }}><b>作
                        者</b></td>
            <td bgcolor={{ titlecolor }} {{ catbackpic }} align=center width=60><font color={{ titlefontcolor }}><b>回复/点击</b>
            </td>
            <td bgcolor={{ titlecolor }} {{ catbackpic }} width=193 align=center><font color={{ titlefontcolor }}><b>　
                        最后更新 　 | 最后回复人</b></td>
            {{ multimanage }}</tr>
    </table>

    {% for topic in topicList %}
    <table cellspacing=0 cellpadding=0 width={{ tablewidth }} bordercolor={{ tablebordercolor }} border=1 height=35 align="center">
    <tr>
        <td align=center width=30 bgcolor={{ forumcolorone }}>{{ topicicontemp }}</td>
        <td width=* class=dp bgColor={{ forumcolortwo }} onmouseover=this.bgColor='{{ forumcolorone }}';
            onmouseout=this.bgColor='{{ forumcolortwo }}';>&nbsp;{{ posticontemp }} {{ followImg }}
            <span id=forum><a href="/topic/{{ topic.ID }}">{{ topic.Title }}</a>{{ pagestoshow }}{{ topicdescription }}{{ admini }}</span>
        </td>
        <td align=center width=78 bgcolor={{ forumcolorone }}>{{ startedby }}</td>
        {{ outputtemp }}

        <td align=center width=60 bgcolor={{ forumcolorone }}>{{ viewNums }}</td>
        <td width=193 bgcolor={{ forumcolorone }}>&nbsp;<span style=cursor:hand
                                                         onClick=javascript:O3({{ forumid }},{{ topicid }},{{ gotoendpost }})>{{ lastpostdate }}</span><font
                    color={{ fonthighlight }}> | </font>{{ lastposter }}
        </td>
        {{ multimanagebutton }}
    </tr>
</table>
    {% endfor %}


    <table cellpadding=0 cellspacing=2 width={{ tablewidth }} align=center>
        <tr height=4>
            <td>{{ topicpages }}，<b>转至</b>：<input type=text name="dshow" size=2 value="{{ pn }}"> <input type=button value=Go onClick="Jumptopage(this.form)"><BR> [本版共有主题 <B>{{ threads }}</B> 篇，回复 <b>{{ posts }}</b> 篇]</td>

        <td align=right>
            <table cellpadding=0 cellspacing=2>
                <tr><form action=search.cgi method=post>
                    <td align=right>
                            <input type=hidden name=action value=startsearch>
                            <input type=hidden name=POST_SEARCH value=topictitle_search>
                            <input type=hidden name=NAME_SEARCH value=topictitle_search>
                            <input name=SEARCH_STRING value=输入关键字 onfocus="this.value ='';" size=14>
                            <select name=TYPE_OF_SEARCH>
                                <option value="keyword_search">主题<option value="username_search">作者</select>
                            <input type=hidden name=FORUMS_TO_SEARCH value={{ in_forum }}_forum>
                            <input type=submit value=搜索>
                    </td>
                    </form></tr>
            </table>
        </td></tr>
    </table>



{% endblock %}