{% extends "base-layout.html" %}

{% block content %}



<img src="{{ imagesurl }}/images/none.gif" height="2"><br>
<script>valigntop()</script>

<table cellpadding="6" cellspacing="0" width="{{ tablewidth }}" height="28" align="center"
       bordercolor="{{ tablebordercolor }}" border="1">
    {% if lu_username ==  "" %}
    <table cellpadding="0" cellspacing="0" width="{{ tablewidth }}" bgcolor="{{ tablebordercolor }}" align="center">
        <tr>
            <td>
                <table cellpadding="6" cellspacing="1" width="100%">

                    <tr>
                        <td bgcolor="{{ titlecolor }}" colspan="3" {{ catbackpic }}><span
                                    color="{{ titlefontcolor }}"><B>-=>
                                    快速登录入口</B>　 [ 来自：{{ trueipaddress }}，{{ fromwhere1 }}" 。系统：{{ osinfo }}
                                ，{{ browseinfo }}" ]</td>
                    </tr>
                    <script>
                        function submitonce(theform) {
                            if (document.all || document.getElementById) {
                                for (i = 0; i < theform.length; i++) {
                                    var tempobj = theform.elements[i]
                                    if (tempobj.type.toLowerCase() == "submit" || tempobj.type.toLowerCase() == "reset")
                                        tempobj.disabled = true
                                }
                            }
                        }
                    </script>
                    <form name="login" method="POST" action="/account/doLogin" onSubmit="submitonce(this)">
                        <tr>
                            <td bgcolor="{{ forumcolorone }}" align="center" width="26">
                                <img
                                        src="{{ imagesurl }}/images/userlist2.gif" width=" 17"/>
                            </td>
                            <td bgcolor="{{ forumcolortwo }}" colspan="1" width="*">
                                <input type="hidden" name="action" value="login">
                                <input type="hidden" name="selectstyle" value="{{ instyle }}_select_style">
                                　用户名 ： <input type="text" name="username" size="12" maxlength="16"
                                              onmouseover="this.focus()"
                                              onfocus="this.select()">　　密　码 ： <input type="password" name="forumpassword"
                                                                                   size="12"
                                                                                   maxlength="20"
                                                                                   onmouseover="this.focus()"
                                                                                   onfocus="this.select()">　
                                <BR><BR>
                                　登录到 ： <select name="forum">
                                    <option selected value="">论坛首页</option>{{ outputbutton }}</select>　　　<input
                                        type="submit" name="submit" value="　登　 录　">　　 <B><a href="/account/register"><U><span
                                                    color="{{ fonthighlight }}">注册新用户</span></u></a></B><BR><BR>
                            </td>
                            {{ todaypostlist }}
                            </td></tr>
                    </form>
                </table>
            </td>
        </tr>
    </table>

    {% endif %}

    <script>valignend()</script>
    <BR>
    <img src="{{ imagesurl }}/images/none.gif" height="5"><br>
    <script type="text/javascript">
        function surfto(list) {
            var myindex1 = list.selectedIndex;
            var newwindow = list.options[myindex1].value;
            if (newwindow != "") {
                var msgwindow = window.open("profile.cgi?action=show&member=" + newwindow, "", "");
            }
        }
    </script>

    <style>
        .menuskin {
            position: absolute;
            background-color: {{ menubackground }};
            border: 1px solid{{ titleborder }};
            line-height: 20px;
            z-index: 100;
            visibility: hidden;
        }

        #mouseoverstyle {
            BACKGROUND-COLOR: #C9D5E7;
            margin: 1px;
        }

        #mouseoverstyle a {
            color: white;
        }

        .menuitems {
            margin: 1px;
            padding: 1px;
            word-break: keep-all;
        }
    </style>
    <script>
        //linkset[1] = "
    </script>

    <div id="linkset_layout" style="display: none">
        <div class=menuitems>&nbsp;<span style=cursor:hand
                                         onClick=javascript:openScript("messanger.cgi?action=new",600,400)
                                         title=发送悄悄话短讯息给站内的朋友>发短讯给朋友</span>&nbsp;
        </div>
        <div class=menuitems>&nbsp;<a href=profile.cgi?action=modify title=编辑修改您的个人资料><font
                        color="{{ menufontcolor }}">修改我的资料</font></a>&nbsp;
        </div>
        <div class=menuitems>&nbsp;<a href=fav.cgi?action=show&member="{{ invar }}_member_name title=对您收藏的帖子进行管理><font
                        color="{{ menufontcolor }}">管理我的收藏</font></a>&nbsp;
        </div>
        <div class=menuitems>&nbsp;<span style=cursor:hand onClick=javascript:openScript("friendlist.cgi",420,320)
                                         title=查看、添加、删除你的好友名单>管理好友列表</span>&nbsp;
        </div>
        <div class=menuitems>&nbsp;<span style=cursor:hand onClick=javascript:openScript("blocklist.cgi",420,320)
                                         title=查看、添加、删除你的黑名单>管理黑名单表</span>&nbsp;
        </div>
        <div class=menuitems>&nbsp;<span style=cursor:hand
                                         onClick=javascript:openScript("recopr.cgi?action=new",420,320)
                                         title=显示论坛最新的帖子列表>论坛最新帖子</span>&nbsp;
        </div>
        <div class=menuitems>&nbsp;<span style=cursor:hand
                                         onClick=javascript:openScript("recopr.cgi?action=post",420,320)
                                         title=我发表的、而且已经被别人回复过的主题列表>被回复的主题</span>&nbsp;
        </div>
        <div class=menuitems>&nbsp;<span style=cursor:hand
                                         onClick=javascript:openScript("recopr.cgi?action=reply",420,320)
                                         title=我发表回复过的主题列表>我参与的主题</span>&nbsp;
        </div>
        <div class=menuitems>&nbsp;<a href=delmycache.cgi title=清除我的缓存，确保个人所有资料都是最新的><font
                        color="{{ menufontcolor }}">更新我的缓存</font></a>&nbsp;
        </div>

    </div>
    {{ pluginadd }} {{ headmark }} {{ userskins }}



    <TABLE cellspacing="0" cellpadding="0" width="{{ tablewidth }}" align="center">
        <tr>
            <TD width="30%" rowSpan=3>{{ forumgraphicoutput }}</TD>
            <TD valign="bottom" align="right">{{ adscript }}</TD>
        </TR>
    </TABLE>

    {% if formdescription %}
    <BR>
    <table width="{{ tablewidth }}" align="center" cellspacing="0" cellpadding="0">
        <tr>
            <td>>>> {{ forumdescription }}</td>
        </tr>
    </table>
    {% endif %}


    <style>
        TABLE {
            BORDER-TOP: 0px;
            BORDER-LEFT: 0px;
            BORDER-BOTTOM: 1px;
        }

        TD {
            BORDER-RIGHT: 0px;
            BORDER-TOP: 0px;
            color: #333333;
        }
    </style>


    <SCRIPT>valigntop()</SCRIPT>

    <table cellspacing="0" width="{{ tablewidth }}" bgcolor="{{ tablebordercolor }}" align="center">
        <tr>
            <td height=1></td>
        </tr>
    </table>
    <table cellpadding="6" cellspacing="0" width="{{ tablewidth }}" height=24 align="center"
           bordercolor="{{ tablebordercolor }}" border=1>

        <tr>
            <td bgcolor="{{ catback }}" style="background-image: url("{{ catsbackpicinfo }}")" height=24>
                <table width="100%" cellpadding="0" cellspacing="0">
                    <tr>
                        <td><img src="{{ imagesurl }}/images/cat1.gif" border=0 width="9"> <font
                                    color="{{ catfontcolor }}"><b>{{ categoryname }}
                        </td>
                        <td align="right" width="150">{{ cmodoutput }}{% if incategory %}[{{ incategory }}]{% endif %}</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    {% for forum in forumsList %}
    <table cellpadding="6" cellspacing="0" width="{{ tablewidth }}" height=24 align="center"
           bordercolor="{{ tablebordercolor }}" border=1>
        <tr>
            <td bgcolor="{{ forumcolorone }}" align="center" width="26">{{ folderpicture }}</td>
            <td bgcolor="{{ forumcolortwo }}" valign="top" width="*">
                <table width="100%" cellpadding="1">
                    <tr>
                        <td width="1%">{{ forum.team }}</td>
                        <td width="12"></td>
                        <td width="*">{{ forum.forumnamelink }}</td>
                        <td bgcolor="{{ forumcolorone }}" align="center" width="90">
                            <span>
                                    color="{{ forumfontcolor }}">{{ modout }}</span>[{{ forumid }}]
                        </td>
                        <td bgcolor="{{ forumcolortwo }}" width="97">
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td align="left"><span color="{{ fontcolormisc2 }}">&nbsp;今日：</span></td>
                                    <td align="right">{{ forum.todayforumpost }}&nbsp;</td>
                                </tr>
                                <tr>
                                    <td align="left"><span color="{{ fontcolormisc2 }}">&nbsp;主题：</span></td>
                                    <td align="right">{{ forum.threads }}&nbsp;</td>
                                </tr>
                                <tr>
                                    <td align="left"><span color="{{ fontcolormisc2 }}">&nbsp;回复：</span></td>
                                    <td align="right">{{ forum.posts }}&nbsp;</td>
                                </tr>
                            </table>
                        </td>
                        <td bgcolor="{{ forumcolorone }}" width="168">
                            <span   color="{{ lastpostfontcolor }}">{{ forum.topictitle }}{{ forum.lastposter }}{{ forum.forumlastpost }}</span>
                        </td>
                        <td bgcolor="{{ forumcolortwo }}" align="center" width="26">{{ forum.forumbookmark }}</td>
                    </tr>
                </table>


            </td>
        </tr>
    </table>
    {% endfor %}


    <img src="{{ imagesurl }}/images/none.gif" height="5" alt=""><br>




    <script>valigntop()</script>
    <table cellpadding="0" cellspacing="0" width="{{ tablewidth }}" bgcolor="{{ tablebordercolor }}" align="center">
        <tr>
            <td>
                <table cellpadding="6" cellspacing="1" width="100%">
                    <tr>
                        <td bgcolor="{{ titlecolor }}" colspan="7" style="background-image: url( {{catbackpic }})">
                            <span color="{{ titlefontcolor }}"></span>
                            <B>-=> 论坛在线统计 （同时在线峰值：{{ onlinemax }}" 人，发生时刻：{{ onlinemaxtime }}）</B>　 [{{ onlinetitle }}]
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="{{ forumcolorone }}" align="center" width="26">
                            <img src="{{ imagesurl }}/images/{{ skin }}/online.gif" alt="{{ membergone }}">
                        </td>
                        <td bgcolor="{{ forumcolortwo }}" colspan="6" width="*">
                            <span color="{{ titlefontcolor }}">
                            &nbsp;<span color="{{ forumfontcolor }}">{{ membertongji }} {{ createday }}论坛总共被访问
                                <b>{{ count1 }}</b> 次，共被点击 <b>{{ count2 }}</b> 次。<BR></span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <script>valignend()</script>
    <img src="{{ imagesurl }}/images/none.gif" height="5"><br>
    <table cellspacing="0" cellpadding="0" width="{{ tablewidth }}" align="center">
        <tr>
            <td>　{{ timenow }} {% if basetimes %}({{ basetimes }}){% endif %}</td>
            <td align="right" noWrap>[ <a href=leobbs.cgi?action=delcookieall">删除论坛 cookie</a> ] :: [ <a
                        href=leobbs.cgi?action=resetall">标记所有为已读</a> ] :: [ <a
                        href="{{ thisprog }}?action=expand">展开所有分类</a> ]
                :: [ <a href="{{ thisprog }}?action=depand">收缩所有分类</a> ]&nbsp;
            </td>
        </tr>
    </table>
    <div style="text-align: center"><br>{{ adfoot }}</div>
    <br>


    {% endblock %}