<div style="text-align:center">
    <hr width=390 size=1>
    <table width=80% align=center cellpadding=0 cellspacing=0>
        <tr>
            <td align=center>


                <table cellpadding=0 cellspacing=0 align=center>
                    <tr>
                        <td align=center><font color={{ fontcolormisc }}>{{ boardcopyright }}


                                <BR><font color={{ postfontcolorone }}>程序版权所有：山鹰(糊)、花无缺　 版本：<a
                                            href="http://www.leobbs.com/download" target=_blank title="按此可以下载最新版本论坛程序">{{ versionnumber }} {{BuildTag}} {{ BuildNum }}</a></font>
                                | <a href="https://gitee.com/leobbs/leobbs/issues">反馈</a> | <a href="https://leobbs.netroby.com">文档</a>
                        </td>
                        <td width=10>&nbsp;</td>
                        <td width=28><a href=http://www.leobbs.com/leobbs/reg/reg.asp?id={{ regerid }} target=_blank><img
                                        src={{ imagesurl }}/images/leoca.gif width=32 height=24 border=0
                                        title=雷傲极酷超级论坛认证></a>

                        </td>
                    </tr>
                </table>
                <img src={{ imagesurl }}/images/none.gif width=0 height=3><span>{{ boardlastinfo }}</span></td>
        </tr>
    </table>
</div>{{ footmark }}
